# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python
.ipynb_checkpoints/
__pycache__/
*.pyc

*~
*.bak
*.dir
*.log
*.PVS-Studio.cfg
*.profraw
*.zip

.idea/
.vs/
.vscode/
cmake-build-*/
build/
_build/
_build_*/

out/
x64/
Win32/
